<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
    {{>navbar}}
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto"></div>

            <div class="row">
                <!-- left side div -->

                <div class="col-md-6 col-12 mx-auto main_header_left">
                    <p class="welcome">Welcome to Weather App</p>
                    <h1>I am a <span>Full Stack Web Developer </span></h1>
                    <a href="/weather" class="button_1"><button>Check Now!</button></a>
                </div>

                <!-- right side div -->
                <div class="col-md-6 col-12 main_header_right">
                    <figure>
                        <img src="images/bg1.jpg" class="ing-fluid" alt="" srcset="">
                    </figure>
                </div>

            </div>
        </div>
    </div>
    </div>
    <!-- footer -->
    {{>footer}}
</body>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
    crossorigin="anonymous"></script>

</html>